* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
  /* font-family: 'Roboto Mono', monospace; */
  padding: 0;
  margin: 0;
}

/* navbar starts */
header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .3);
}
.navbar-brand {
  font-weight: 800;
  font-size: 23px;
  color: rgb(32, 32, 32);
}
.navbar-nav {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1.2rem;
}
/* navbar ends */

/* home section */
#home {
  min-height: 100vh;
  background: url(images/background\ imge-medium.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-content {
  padding-top: 163px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
}
/* FOR SMART PHONES */
@media (max-width:426px) {
  .home-text {
    font-size: 27px;
  }
}

/* home section ends*/


/* about section */
#about-div {
  min-height: 39.8rem;
  background: white;
  display: flex;
  align-items: center;
}
.about-title {
  text-align: center;
}
.about-title h2 {
  font-size: 32px;
  font-weight: bold;
  color: #45505b;
}
#aboutMe-img {
  max-width: 18rem;
  height: clamp(200px, 300px, 334px);
  border-radius: 50px;
}
.about .content {
  font-family: 'Euclidcirculara webfont',Arial,sans-serif;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}
.about .content ul {
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
/* FOR BELOW MEDIUM DEVICES */
@media (max-width:991px){
  .about .content {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  #aboutMe-img {
    margin-top: 4.8rem;
  }
}

/* about section ends */

/* skills sections */
#skills {
  min-height: 39.5rem;
  font-family: 'Roboto Mono', monospace;
  /* background: linear-gradient(to bottom, #57059e, #4a00e0); */
  background: linear-gradient(to bottom, #004e92 , gray);
}
#skills .row {
  margin: 10px auto;
}
.card {
  margin: 30px;
  width: 11rem;
  height: 14rem;
  border: 0px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.31), 0 8px 16px rgba(0, 0, 0, 0.24);
}
#skills .content {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.card-img-top {
  border-radius: 6px;
  height: 9rem;
}
.skills-title {
  text-align: center;
}
.skills-title h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

/* FOR BELOW MEDIUM DEVICES */
@media (max-width:991px) {
  #skills .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .card {
    margin: 20px;
    width: 11rem;
    height: 14rem;
  }

  .lastCard {
    margin-bottom: 30px;
  }
  .card-img-top {
    height: 9rem;
  }
}
/* FOR SMART PHONES */
@media (min-width:320px) and (max-width:460px) {
  #skills {
    min-height: auto;
  }
  #skills .row {
    margin: 45px auto;
  }
  .card {
    margin: 10px;
    height: 7rem;
    background-color: white;
  }
  .card-body{
    padding: 10px;
  }
  .card-title {
    font-size: 4vw;
    font-weight: bold;
  }
  .skill-card-brandname {
    display: none;
  }
  .card-img-top {
    height: 4rem;
    width: 4rem;
  }
}



