/* navbar starts */
header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .3);
}

.navbar-brand {
  font-weight: 800;
  font-size: 23px;
  color: rgb(32, 32, 32);
}

.navbar-nav {
  font-weight: 600;
  font-size: 1.2rem;
}

/* navbar ends */

#home {
  height: 39.5rem;
  background: url(images/background\ image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-content {
  padding-top: 163px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

body {
  padding: 0;
  margin: 0;
}